<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>タスク一覧</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>タスクID</th>
          <th>タスク名</th>
          <th>タスク概要</th>
          <th>期限</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <th>{{ task.task_id }}</th>
          <td>{{ task.task_name }}</td>
          <td>{{ task.task_detail }}</td>
          <td>{{ task.deadline }}</td>
          <td>
            <a href="{% url 'suomi_app:edit_task' task_id=task.task_id %}">修正</a>
            <a href="{% url 'suomi_app:complete_task' task_id=task.task_id %}">完了</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'suomi_app:create_task' %}">作成</a>
  </body>
</html>
